.color1 {
    width: 100%;
    background-color: lightgray;
}

.bg-light {
    background-color: lightgrey;
}

.bg-dark {
  background-color: #010044;
}

.text-black {
    color: black;
}

.text-grey {
  color:lightgray;
}

/* header info */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #010044;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(170, 170, 170);
    color: black;
  }
  .leaflet-popup-content {
    text-align: center;
  }
  
  /* CSS from the Leaflet-Choropleth documentation */
  .legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #555;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .legend ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
  }
  
  .legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
  }
  
  .legend .min {
    float: left;
    padding-bottom: 5px;
  }
  
  .legend .max {
    float: right;
  }
/*   
li a.active {
    color: white;
    background-color: #3657FC;
}
*/
